/*.white {*/
/*    background-color: white;*/
/*}*/
body {
    background: #F0F0F0;
}
main {
    /*width: 80%;*/
    max-width: 768px;
    margin: auto;
}
#whiteBG {
    width: 100%;
    height: 60px;
    position: absolute;
    margin-top: 25px;
    background-color: white;
    z-index: -1;
    /*top: 80px;*/
}
.h1 {
    font-size: 48px;
}

.h4 {
    margin: 1em 0;
    font-size: 28px;
}
.container{
    max-width: 768px;
    margin: auto;
}
.top-top {
    margin-top: 20px;
}
.logo {
    height: 105px;
    width: 105px;
    display: block;
    margin: auto;
}
.logoBG {
    /*background-color: white;*/
    /*height: 52.5px;*/
}
.design {
    text-align: center;
    font-size: 32px;
    /*margin-bottom: 20px;*/
}
.navFont {
    font-family: 'Abel', sans-serif;
}
/*.navFont-1 {*/
/*    margin-right: 20px;*/
/*}*/
.block {
    text-align: center;
    vertical-align: middle;
}
.button{
    width: 70%;
    margin: auto;
}
.circle-button {
    border: 5px solid white;
    border-radius: 50%;
    color: white;
    height: 105px;
    font-weight: bold;
    width: 105px;
    display: table;
    margin: 0 auto;
}
.circle-button p {
    vertical-align: middle;
    display: table-cell;
    font-size: 24px;
}
.top-part {
    margin-top: 60px;
    font-family: 'Anton', sans-serif;
    text-align: center;
}
.red {
    background-color: #E6563B;
}

.orange {
    background-color: #EB9D3A;
}
.green {
    background-color: #7CB06C;
}

.blue {
    background-color: #00ABA9;
}

.col-8 {
    padding-right: 0;
}
.circle-icons {
    border-radius: 50%;
    height: 18px;
    max-width: 18px;
    display: inline-block;
    margin: 0 auto;
    padding: 0;

}
.selectedWork {
    margin-left: 20px;
    float: left;
}

.featured {
    font-size: 16px;
    font-family: 'Abel', sans-serif;
}
.iconP {
    vertical-align: middle;
    color: black;
    font-family: 'Anton', sans-serif;
    font-size: 12px;
    margin: auto;
    text-align:center;
}
.below-img {
    height: 18px;
}
.right-img{
    margin-left: 20px;
}
.left-img {
    margin-right: 20px;
}
.SW-box {
    margin: 0 0 50px 0;
    padding: 0;
}
.SW-cont {
    margin: 0;
}
.sw-img{
    display: block;
    width: 100%;
    height: 100%;
    border: 5px solid #E6E6E6;
    margin-bottom: 8px;
    border-radius: 5px;
}
.sideTab {
    margin: 15px 0 25px 15px;
}
.rightSidePic {
    width: 100%;
}
.rightSide {
    width: 30%;
    float: right;
}
.twitterIcon {
    width: 6%;
}
.picTab {
    width: 20%;
}
td {
    padding-bottom: 20px;
}
.twitterSide {
    margin: 15px;
}
.asideText {
    font-family: 'Anton', sans-serif;
    font-size: 20px;
}
.asideP {
    font-family: 'Abel', sans-serif;
    font-size: 10px;
}

@media screen and (min-width: 768px) {
    .selectedWork {
        width: 65%;
    }
}